
// .viewed {}
.viewed__title {
    margin-bottom: 30px;
}
// .title-page {}
// .viewed__inner {}
.viewed__holder-select {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.viewed__select {
    margin-bottom: 20px;
}
