.header {
    height: $heightHeader;
    background-color: #fff;
    position: fixed;
    z-index: 5;
    box-shadow: 0px -5px 20px 5px rgb(237, 242, 246); 
}

.basket__block {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: rgb(251, 177, 60);
    border-radius: 50%;
}

.basket__num {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    transform: translate(0px, -1px);
}

@include mediaMin($break_sm) {
    .img__backet_mob,
    .header__main-mob,
    .img__search_mob,
    .img__more_mob,
    .mobile-menu__bottom,
    .select-catalog-title,
    .select-catalog__txt,
    .select-catalog__btn-close,
    .header__catalog_mob {
        display: none;
    }
    .header__menu-inner {
        background: $black14;
        height: 60px;
        display: flex;
        align-items: center;
        transform: translate(0px, -4px);
    }
    .header__holder {
        display: flex;
        align-items: center;
    }
    .header__catalog {
        display: flex;
        align-items: center;
        height: 100%;
        // padding: 14px 0px 14px 0px;
        height: $heightMenuBottom;
        cursor: pointer;
        img {
            margin-left: 20px;
        }
        span {
            margin-left: 10px;
            margin-right: apx(115, 20);
        }
    }
    .menu__active {
        background-color: $blue36; 
    }
    .header__menu-text {
        color: $white255;
        padding-left: apx(20, 7);
        padding-right: apx(20, 7);
        font-size: apx(16, 10);
        font-weight: 500;
        line-height: 19px;
        box-sizing: border-box;
        padding-top: apx(22, 10);
        padding-bottom: apx(22, 10);
    }
    .header__menu-box {
        display: flex;
        align-items: center;
        margin-left: 4px;
        align-items: center;
    }
    .header__menu {
        height: $heightMenuBottom;
        display: flex;
        align-items: center;
    }
    .header__catalog_des {
        pointer-events: none;
    }
    .header__catalog_hidden {
        display: none;
    }
    .header__catalog_select {
        background-color: #fff;
    }
    .header__user-menu {
        width: 280px;
        position: absolute;
        top: 61px;
        right: 0px;
        background-color: $white255;
        z-index: 7;
        box-sizing: border-box;
        /* card border */
        border: 1px solid rgb(234, 234, 240);
        border-radius: 0px 0px 8px 8px;

    }

    // .header__user-holder {}
    .header__user-item {
        color: $black7;
        font-size: apx(16, 14);
        font-weight: 500;
        line-height: 19px;
        padding-top: apx(20, 10);
        padding-left: apx(15, 10);
        padding-right: apx(15, 10);
        padding-bottom: apx(20, 10);
        &:hover {
            background-color: rgb(237, 242, 246);
        }
    }
    .header__user-item_last {
        border-top: 1px solid rgb(234, 234, 240);
        color: red;
    }
}
@include mediaMax($break_sm) {
    .header__catalog_des, .img__backet_des, .header__btn_first, .header__menu-text, .select-catalog__title-catalog {
        display: none;
    }
    .header__btn_backet {
        position: fixed;
        left: 0;
        bottom: 0vh;
        display: block;
    }

    .mobile-menu__bottom {
        position: fixed;
        left: 0;
        bottom: 0vh;
        width: 100%;
        // height: 64px;
        background-color: $blue42;
        transition: all 0.8s ease 0.5s;
    }
    .header__btn_user {
        position: relative;
    }
    .header__user-menu {
        position: absolute;
        top: 64px;
        right: 0px;
        width: 200px;
        background-color: #fff;
        border-radius: 0px 0px 8px 8px;
        border: 0.3px solid $grey200;
    }
    .header__user-item {
        color: $black7;
        font-size: apx(16, 14);
        font-weight: 500;
        line-height: 19px;
        padding-top: apx(20, 10);
        padding-left: apx(15, 10);
        padding-right: apx(15, 10);
        padding-bottom: apx(20, 10);
        &:hover {
            background-color: rgb(237, 242, 246);
        }

    }
    .header__user-item_last {
        border-top: 1px solid rgb(234, 234, 240);
        color: red;
        // &:hover {
        //     background-color: rgb(237, 242, 246);
        //     border-radius: 0px 0px 8px 8px;
        // }
    }
    .mobile-menu__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // @include margin-LR($fields_sm);
        @include margin-flex(50);
    }
    .mobile-menu__item:nth-child( 3 ) {
        position: relative;
    }
    // .mobile-menu__item {}
    // .mobile-menu__main {}
    // .mobile-menu__catalog {}
    // .mobile-menu__backet {}
    // .mobile-menu__search {}
    // .mobile-menu__more {}
    .select-catalog__title-catalog {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: calc(100vh - 60px);
        z-index: 5;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 27px;
        box-sizing: border-box;
        background-color: rgb(191, 203, 214);
    }
    .select-catalog__inner {
        border-radius: 8px 8px 0px 0px;
        background: $blue237;
        height: calc(100vh - 112px);
        overflow: auto;
        padding-top: 24px;
        padding-left: apx(50, 20);
        padding-right: apx(25, 15);
    }
    .select-catalog__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .select-catalog__txt {
        color: $black7;
        font-size: apx(28, 20);
        font-weight: 700;
        line-height: 130%;
    }
}
@include mediaMax($break_xs) {
    .mobile-menu__list {
        // @include margin-LR($fields_xs);
        @include margin-flex(20);

    }
    
}
