
.account-my__change-password {
    max-width: 310px;
    margin: 0px auto;
    @include sm-block() {
        // max-width: 100%;
        margin: 0px 0px 0px 0px;
    }
}
// .account-my__change-password_block {}
// .item__input-box {}
// .item__input_label {}
// .item__input {}
// .input-text {}
// .change-password__button-box {}
.change-password__button {
    width: 100%;
    padding: 15px 30px;
}