
.header__btn_backet {
    display: block;
    position: relative;
}

.basket__num {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
    padding: 5px;
    color: #fff;
    background-color: red;
}