// @import "./_config.scss";

:root {
    --white255: rgb(255, 255, 255);
    --black000: rgb(0, 0, 0);
}

$heightHeader: 80px;

$offset_xxlg: $offset;
$offset_xlg: $offset;
$offset_lg: $offset;
$offset_md: $offset;
$offset_sm: $offset;
$offset_xs: $offset;
$offset_xxs: $offset;

$offset_one_side: calc($offset / 2);
$offset_xxlg_one_side: calc($offset_xxlg / 2);
$offset_xlg_one_side: calc($offset_xlg / 2);
$offset_lg_one_side: calc($offset_lg / 2);
$offset_md_one_side: calc($offset_md / 2);
$offset_sm_one_side: calc($offset_sm / 2);
$offset_xs_one_side: calc($offset_xs / 2);
$offset_xxs_one_side: calc($offset_xxs / 2);



